:root {
    --global-theme-color-light: #eeeeee;
    --global-theme-color-dark: #111111;

    --global-background-color: var(--global-theme-color-light);
}


//TODO
// @media screen and (prefers-color-scheme: 'dark'){
    
// }